<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <h1 th:text="${title}">Default Title</h1>
</head>
<body>
<form method="POST" style="max-width:600px;" th:object="${flow}" action="/mflow/addflow">
<!--    <div class="flow">
        <label th:for="date">Date</label>
        <div>
            <input type="date" class="form-control" th:field="*{date}" th:value="${date}"/>
            <span th:errors="*{date}" class="error"></span>
        </div>
    </div>-->

<!--    <div class="flow">
        <label th:for="flowName">Name</label>
        <div>
            <input class="form-control"th:field="*{flowName}"/>
           <span th:errors="*{flowName}" class="error"></span>
        </div>
    </div>-->


    <div class="form-group">
        <label th:for="flowName">Select the flow name</label>
        <select th:field="*{flowName}">
            <option th:value="Retour" >Retour</option>
            <option th:value="Reception">Reception</option>
            <option th:value="Order">Order</option>
            <option th:value="Relocation">Relocation</option>
            <option th:value="delivery">Delivery</option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="description">Description</label>
        <div>
            <input class="form-control" th:field="*{description}" />
            <span th:errors="*{description}" class="error"></span>
        </div>
    </div>

    <!--// [flow_id, Date date,flow_quantity, string description, flowname,
    // provenance, destination,MMaterial material, List<MatLocation>matLocations-->
    <div class="flow">
        <label th:for="flow_quantity">Quantity</label>
        <div>
            <input class="form-control" th:field="*{flow_quantity}"/>
            <span th:errors="*{flow_quantity}" class="error"></span>
        </div>
    </div>

    <div class="flow">
        <label th:for="provenance">Provenance</label>
        <div>
            <input class="form-control" th:field="*{provenance}"/>
            <span th:errors="*{provenance}" class="error"></span>
        </div>
    </div>

    <div class="flow">
        <label th:for="destination">Destination</label>
        <div>
            <input class="form-control" th:field="*{destination}"/>
            <span th:errors="*{destination}" class="error"></span>
        </div>
    </div>
    <div class="form-group">
        <label th:for="material">Material</label>
        <select name="materialId">
            <option th:each="material : ${materials}"
                    th:text="${material.matName}"
                    th:value="${material.mat_id}">
            </option>
        </select>
    </div>
    <input type="submit" value="Add Flow"/>
</form>

</body>
</html>
<!--

    <div class="form-group">
        <label th:for="flow">Flow</label>
        <select name="Mat_id">
            <option th:each="flow : ${flows}"
                    th:text="${flow.quantity}"
                    th:value="${reception.reception_id}"></option>
        </select>
    </div>
-->

