<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <h1 th:text="${title}">Default Title</h1>
</head>
<body>
<form method="post" style="max-width:600px;" th:object="${material}">
    <div class="material">
        <label th:for="name">Name</label>
        <div>
            <input class="form-control" th:field="*{name}"/>
            <span th:errors="*{name}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="description">Description</label>
        <div>
            <input class="form-control" th:field="*{description}" name="description"/>
            <span th:errors="*{description}" class="error"></span>
        </div>
    </div>


    <div class="material">
        <label th:for="dispo_quantity">Dispo_quantity</label>
        <div>
            <input class="form-control" th:field="*{dispo_quantity}"/>
            <span th:errors="*{dispo_quantity}" class="error"></span>
        </div>
    </div>

    <input type="submit" value="Add Material"/>
</form>


</body>
</html>