<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${materials} and ${materials.size()}">no material yet :(</p>


<table class="table">

    <tr>
        <th>Materials</th>
    </tr>

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Dispo_quantity</th>
    </tr>

    <tr th:each="mat:${materials}">
        <!--<li><a th:href="'material/'+${mat.id}" th:object="${mat}"></a></li>-->
        <td th:text="${mat.name}"></td>
        <td th:text="${mat.description}"></td>
        <td th:text="${mat.dispo_quantity}"></td>

    </tr>
</table>
<a href= "/material/add">Add Material</a>
</body>
</html>